<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<style>
    li{
        display: inline;
        background-color: lightgreen;
        font-weight: bold;
        margin: 5px;
        float: left;
    }
    ul{
        background-color: lightgreen;    
    }
</style>
<body style="height: fit-content;">
    <h3 id="Header"></h3>
    <div style="background-color: lightgreen;">
        <nav>
            <ul>
                <li><a href="/BoTechWeb/index.html">Home</a></li>
                <li><a href="/BoTechWeb/Repos">Repos</a></li>
                <li><a href="/BoTechWeb/Repos/OverallStatus/">Overall Status</a></li>
                <li style="float: right;">
                    <a href="https://accountsS.botech-computer.de/Login">Login</a>
                </li>
            </ul>
        </nav>
    </div>
    
</body>
<script>
  //  document.getElementById('Header').innerText = 'Header'
</script>
</html>